:host {
    display: block;
}

.core-logo-container {
    max-width: var(--core-site-logo-max-width, 100%);


    width: var(--core-site-logo-width, auto);
    margin: var(--core-site-logo-margin, 0px);
}

img.core-logo {
    max-height: var(--core-site-logo-max-height);
}

.core-logo-sitename {
    display: var(--core-site-logo-sitename-display, block);
    font: var(--core-site-logo-sitename-font);
    margin-bottom: var(--core-site-logo-sitename-margin-bottom, 0px);
}

.core-logo-brand {
    display: flex;
    align-items: center;
    justify-content: var(--core-site-logo-brand-justify, center);

    img.core-logo-brand-img {
        max-height: var(--core-site-logo-max-height, 32px);
        width: auto;
        max-width: 100%;
        object-fit: contain;
    }
}
